<!-- Cabecera con título y botón -->
<div class="flex justify-between items-center mb-6 kanban-header">
  <div class="font-bold text-2xl project-title">{{ projectName }}</div>
  <button class="create-task-btn" (click)="goToCreateTask()">Crear tarea</button>
</div>

<!-- Tablero Kanban -->
<div class="kanban-board" *ngIf="!loading">
  <div class="kanban-columns">
    <ng-container *ngFor="let col of columns; let i = index">
      <div class="kanban-column">
        <!-- Encabezado de columna -->
        <div class="flex justify-between items-center kanban-column-header">
          <div class="flex items-center gap-2">
            <span class="dot" [ngClass]="'dot-' + col.color"></span>
            <span class="font-semibold">{{ col.label }}</span>
            <span class="ml-2 text-gray-500 text-xs">
              {{ tasksByEstado[col.key].length }}
            </span>
          </div>
        </div>

        <!-- Lista arrastrable -->
        <div cdkDropList class="kanban-list" [id]="dropListIds[i]" [cdkDropListData]="tasksByEstado[col.key]"
          [cdkDropListConnectedTo]="getConnectedDropLists(i)" (cdkDropListDropped)="onDropFactory(col.key)($event)">
          <!-- Tarjetas -->
          <div *ngFor="let task of tasksByEstado[col.key]" cdkDrag class="kanban-card"
            [ngClass]="'kanban-card-' + col.color"
            [routerLink]="['/admin/project', projectId, 'task-detail', task.id]">
            <div class="flex justify-between items-center mb-1">
              <span class="priority priority-alta" *ngIf="task.prioridad === 'Alta'">Prioridad alta</span>
              <span class="priority priority-media" *ngIf="task.prioridad === 'Media'">Prioridad media</span>
              <span class="priority priority-baja" *ngIf="task.prioridad === 'Baja'">Prioridad baja</span>
              <span class="priority priority-completada" *ngIf="col.key === EstadoTarea.COMPLETADA">Completado</span>
              <span class="dots">...</span>
            </div>

            <div class="font-bold">
              {{ task.nombre }}
            </div>

            <div class="mb-2 text-gray-500 text-xs">
              {{ task.categoria || col.label }}
            </div>
            <div class="mb-2 text-gray-400 text-xs">
              {{ task.descripcion }}
            </div>

            <div class="flex mt-2">
              <img src="avatar-placeholder.png" class="avatar" alt="Creator" />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
