<div class="bg-white shadow-md mx-auto mt-10 p-6 border border-gray-200 rounded-lg max-w-md">
  <h2 class="mb-6 font-bold text-gray-800 text-2xl text-center">Cambiar contraseña</h2>
  <div class="mb-4">
    <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña"
      class="px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-full text-gray-800" />
  </div>
  <button
    class="bg-blue-600 hover:bg-blue-700 mb-4 px-4 py-2 rounded w-full font-semibold text-white transition-colors duration-200"
    (click)="changePassword()">
    Cambiar contraseña
  </button>
  <div *ngIf="success" class="font-medium text-green-600 text-center">Contraseña cambiada exitosamente.</div>
  <div *ngIf="error" class="font-medium text-red-600 text-center">{{ error }}</div>
</div>
